@font-face {
    font-family: Fredoka;
    font-display: swap;
    src: url(../fonts/Fredoka.ttf);
}

@font-face {
    font-family: LatoBold;
    font-display: swap;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoBlack;
    font-display: swap;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: LatoLight;
    font-display: swap;
    src: url(../fonts/Lato-Light.ttf);
}